{% extends "_base.html" %}
{% load static %}
{% block title %}Tagged Items{% endblock %}
{% block content %}
    <p>Items tagged with <strong>{{ object }}</strong>:</p>
    <h1>Blog Posts</h1>
    <ul>
        {% for item in post %}
            <a class="post-link" href="{% url 'post_detail' item.slug %}">{{ item.title }}</a>
        {% endfor %}
    </ul>
    <h1>Writing</h1>
    <ul>
        {% for item in writing %}
            <a href="{% url 'writing_detail' item.slug %}">{{ item.title }}</a>
        {% endfor %}
{% endblock %}
